<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>My Book List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Category</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category != null ? book.category.name : 'N/A'}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a type="button" class="btn btn-success" th:href="@{/books/edit/{id}(id=${book.id})}"
                    onclick="editBook(this); return false;">Edit</a>
                <a type="button" class="btn btn-danger" th:href="@{/books/delete/{id}(id=${book.id})}"
                   onclick="deleteBook(this); return false;">Delete</a>

            </td>

        </tr>
    </table>
</div>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:inline="javascript">
    function deleteBook(link){
        if (confirm('Are you sure?')){
        $.ajax({
            url: $(link).attr('href'),
            type: 'DELETE',
            success: result -> {
                if(!result.success){
                    alert(result.message);
                } else {
                    $(link).parent().parent().remove();
                    }
                }
        });
        }
    }

    function editBook(link){
        $.get($(link).attr('href'), function(data){
            $('#edit-form-container').html(data);
            $('#edit-form-modal').modal('show');
        });
    }
</script>
<th:block  th:replace="layout :: footer"></th:block>
</body>
</html>