<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Book List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <td>
                <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
                <a th:href="@{/books/delete/{id}(id=${book.id})}"
                   onclick="return confirm('Are you sure?')">Delete</a>

            </td>

        </tr>
    </table>
</div>
<th:block  th:replace="layout :: footer"></th:block>
</body>
</html>