<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-
scale=1.0">

  <title>Access Denied</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="d-flex align-items-center justify-content-center vh-25">
  <div class="text-center">
    <h1 class="display-1 fw-bold">403</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Access
      Denied.</p>
    <p class="lead">
      You don't have permission to access this page.
    </p>
    <a href="/" class="btn btn-primary">Back to homepage</a>
  </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>