<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="d-flex align-items-center justify-content-center vh-25">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span>
            Internal Server Error.</p>
        <p class="lead">
            The server encountered an internal error and was unable to
            complete your request.
        </p>
        <small class="text-muted">Please check the server logs for more
            details.</small><br/>
        <a href="/" class="btn btn-primary">Back to homepage</a>
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>