<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <block th:replace="layout :: link-css"></block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container" id="edit-form-modal">
    <h1>Edit Category</h1>
    <td sec:authorize="hasAnyAuthority('ADMIN')">
        <div id="edit-form-container">
            <form th:action="@{/categories/edit/{id}(id=${category.id})}" method="post" th:object="${category}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" th:field="*{name}" class="form-control" required/>
                    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

    </td>
</div>
<th:block  th:replace="layout :: footer"></th:block>
</body>
</html>