<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Category List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
      <td sec:authorize="hasAnyAuthority('ADMIN')">
        <a type="button" class="btn btn-success"
           th:href="@{/categories/edit/{id}(id=${category.id})}" onclick="editCategory(this); return false;">Edit</a>
        <a type="button" class="btn btn-danger"
           th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="deleteCategory(this); return false;">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script th:inline="javascript">
    function deleteCategory(link){
        if (confirm('Dung hoi han nhaaaa????')){
        $.ajax({
            url: $(link).attr('href'),
            type: 'DELETE',
            success: result -> {
                if(!result.success){
                    alert(result.message);
                } else {
                    $(link).parent().parent().remove();
                    }
                }
        });
        }
    }

    function editCategory(link){
        $.get($(link).attr('href'), function(data){
            $('#edit-form-container').html(data);
            $('#edit-form-modal').modal('show');
        });
    }
</script>
<th:block  th:replace="layout :: footer"></th:block>
</body>
</html>