<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link th:fragment="link-css" rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">HUTECH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link active" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item"><a href="/books" class="nav-link">List Book</a></li>
                    <li class="nav-item"><a href="/books/add" class="nav-link">Add Book</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div th:insert="~{::${content}}">
    <!--        NỘI DUNG TRANG CON-->
</div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>