<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ỨNG DỤNG QUẢN LÝ SÁCH KẾT NỐI CSDL</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout :: header"></th:block>
    <div class="container">
      <div class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">
            TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH - KẾT NỐI CSDL MYYSQL
          </a>
        </div>
      </div>
    </div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>